<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Social - Sign in</title>
    <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/signin.css">
</head>

<body>
    <header>
        <img src="../../static/images/open-social.png" alt="Open Social">
        <h1>Open Social</h1>
    </header>

    <main>
        <form method="POST" action="/signin">
            <h3>Login</h3>
            <section id="signin">
                <input type="text" class="buttonsForm" name="username" placeholder="Nome de usuário">
                <input type="password" class="buttonsForm" name="password" placeholder="Senha">

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <br>
                        <div class="{{ messages[0][0] }}" style="color: red;">{{ messages[0][1] }}</div>
                    {% endif %}
                {% endwith %}

                <input class="buttonsForm" id="btSignin" type="submit" value="Entrar">
            </section>
        </form>
        <section>
            <p class="goSignup">Não tem uma conta? <a href="signup.html" class="goSignup" target="_self">Criar conta</a>
            </p>
        </section>
    </main>

    <footer>
        <p>&copy;<a href="#">Os Guri Software</a>. Todos os direitos reservados.</p>
    </footer>
</body>

</html>