@charset "UTF-8";

@import url("./main.css");

main > section#feed > h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
}

main > section#feed {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 800px;
  text-align: justify;
  color: black;
  align-items: center;
}

main > section#feed > p {
  margin-top: 30px;
  text-align: justify;
  font-size: 1.1em;
  line-height: 25px;
}

main > section#feed > img#postImage {
  width: 450px;
}

main > section#feed > div#postInteractions {
  margin-top: 30px;
  display: flex;
  gap: 100px;
  padding: 30px;
}

main > section#feed > div#postInteractions > a > img {
  width: 40px;
  padding: 5px;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

main > section#feed > div#postInteractions > a > img:hover {
  cursor: pointer;
  transform: scale(1.3, 1.3);
}

#btLikePost:hover {
  content: url("../images/icons/like-color.png");
}

#btCommentPost:hover {
  content: url("../images/icons/comment-color.png");
}

#btSharePost:hover {
  content: url("../images/icons/share-color.png");
}