{% block title %}Create Post{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/create-post.css">
{% endblock %}

{% block content %}
    <section id="userCreatePost">
        <h2>Criar Postagem</h2>
        <form>
            <textarea name="mensagePost" id="mensagePost" placeholder="Estou pensando em..."></textarea>
            <div>
                <img src="../static/images/icons/user-post-icons/send-photo.png" id="sendPhoto" alt="Enviar Foto">
                <img src="../static/images/icons/user-post-icons/select-emoji.png" id="selectEmoji" alt="Selecionar Emoji">
            </div>
            <button id="btSendPost">Publicar</button>
        </form>
    </section>
{% endblock %}