{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}
    <section id="feed">
        <h2>Post</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, provident. Illum libero praesentium
            deserunt consequuntur odio vitae corporis iure omnis magnam temporibus a maxime est, voluptates animi.
            Fuga, veniam sequi? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat repudiandae
            laudantium saepe libero, aliquid esse omnis sint unde quas, deserunt vero ullam? Suscipit voluptatem
            quos incidunt facilis ex exercitationem tenetur! Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Voluptatibus, deleniti nulla, fuga molestiae cum ipsum, dolor enim aut blanditiis odio magni?
            Debitis, numquam nulla dignissimos ipsum dolore amet earum veritatis!</p>
        <img id="postImage" src="../static/images/open-social.png" alt="Interagir com a imagem do post">
        <div id="postInteractions">
            <a href="#" target="_self"><img src="../static/images/icons/like.png" id="btLikePost" alt="Curtir"></a>
            <a href="#" target="_self"><img src="../static/images/icons/comment.png" id="btCommentPost" alt="Comentar"></a>
            <a href="#" target="_self"><img src="../static/images/icons/share.png" id="btSharePost" alt="Compartilhar"></a>
        </div>
    </section>
{% endblock %}